.RecordList {
  padding: 1rem;
}

.RecordList_header {
  align-items: center;
  display: flex;
}

.RecordList_header h3 {
  margin-right: 1rem;
}

.RecordList_item,
.RecordList_titles {
  display: flex;
  flex-basis: 100%;
}

.RecordList_item span,
.RecordList_titles span,
.RecordList_item .input-container {
  flex-basis: 20%;
}

.RecordList_item {
  margin-bottom: 0.5rem;
}

.RecordList_titles {
  margin-bottom: 1rem;
}

.RecordList_titles span {
  font-weight: bold;
}

.RecordList_content {
  padding: 1rem;
}