body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-blue: #242d3c;
  --dark-blue: #111827;
  --text-red: #B7383B;
  --text-green: #0DA073;
}

button {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.icon-button {
  align-self: center;
  border: 0;
  color: white;
  margin: 0 0.25rem;
  padding: 0.25rem;
}

.icon-button.red {
  background-color: var(--text-red);
}

.icon-button.green {
  background-color: var(--text-green);
}

.icon-button.blue {
  background-color: var(--dark-blue);
}
